---
// src/components/common/SEO.astro
interface Props {
    title: string;
    description: string;
    image?: string; // Opcional, para usar una por defecto si no hay
    canonicalURL?: string;
}

const { 
    title, 
    description, 
    image = '/og-image-principal.jpg', // Imagen por defecto de la marca
    canonicalURL = Astro.url.href 
} = Astro.props;

// Nos aseguramos de que la URL de la imagen sea absoluta para que las redes la lean bien
const socialImageURL = new URL(image, Astro.site);
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/LOGO-KN.png" />
<meta name="generator" content={Astro.generator} />

<link rel="canonical" href={canonicalURL} />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />