---
interface Props {
  title: string;
  description?: string;
}

const { 
  title, 
  description = "Despacho de Arquitectura y Diseño Contemporáneo." 
} = Astro.props;
import "../styles/global.css";
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/LOGO-KN.png" />
    <meta name="generator" content={Astro.generator} />
    
    <title>{title} | KNARQ</title>
    <meta name="description" content={description} />
    
    <meta property="og:title" content={`${title} | KNARQ`} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap" rel="stylesheet">
  </head>
  
  <body class="">
    
    <main>
      <slot />
    </main>

    </body>
</html>
<script>
  // Escuchamos cuando el usuario intenta abrir el menú contextual (clic derecho)
  document.addEventListener('contextmenu', function(evento) {
    // Si el elemento al que le hicieron clic es una imagen (IMG)
    if (evento.target.tagName === 'IMG') {
      // Bloqueamos el menú
      evento.preventDefault();
    }
  });
</script>