---
// src/pages/proyectos/[slug].astro
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/common/Header.astro';
import projects from '../../data/project.json';

export async function getStaticPaths() {
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const isConcretoHero = project.slug === 'casa-concreto';
---

<Layout title={`${project.title} | KNARQ`}>
  <Header />

  <main class="w-full bg-white pb-32">
    
    <section class="w-full max-w-350 mx-auto px-4 md:px-12 pt-4 md:pt-">
      <div class="relative w-full flex justify-center bg-gray-50 overflow-hidden">
        
        <img 
          src={project.images.hero} 
          alt={`Fotografía principal de ${project.title}`} 
          class={`w-full h-auto max-h-[80vh] object-cover object-bottom ${isConcretoHero ? 'max-h-screen object-bottom' : 'h-auto'}`}
        />
      </div>
    </section>

    <section class="w-full max-w-350 mx-auto px-4 md:px-12 mt-16 md:mt-24">
      <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
        <div class="md:col-span-4 mb-8 md:mb-12">
          <h1 class="text-4xl md:text-5xl font-light text-[#1A1B1C] mb-3">{project.title}</h1>
          <p class="text-xs text-gray-400 uppercase tracking-widest">{project.category}</p>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-12 gap-10 md:gap-8">
        <div class="md:col-span-4 border-t border-gray-200 pt-6 md:pt-8">
          <ul class="flex flex-col gap-5">
            <li class="flex justify-between items-end">
              <span class="text-xs uppercase tracking-widest text-gray-400">Ubicación</span>
              <span class="text-sm font-medium text-[#1A1B1C] text-right">{project.details.location}</span>
            </li>
            <li class="flex justify-between items-end">
              <span class="text-xs uppercase tracking-widest text-gray-400">Año</span>
              <span class="text-sm font-medium text-[#1A1B1C] text-right">{project.details.year}</span>
            </li>
            <li class="flex justify-between items-end">
              <span class="text-xs uppercase tracking-widest text-gray-400">Superficie</span>
              <span class="text-sm font-medium text-[#1A1B1C] text-right">{project.details.area}</span>
            </li>
          </ul>
        </div>
        <div class="md:col-span-7 md:col-start-6 flex flex-col gap-8 md:gap-12">

          <div class="flex flex-col gap-6 pl-6 md:pl-8">
              {(Array.isArray(project.descriptions.concept) ? project.descriptions.concept : [project.descriptions.concept]).map((p) => (
                <p class="text-base md:text-lg font-light leading-relaxed text-gray-500">
                  {p}
                </p>
              ))}
          </div>
        </div>
        
      </div>
    </section>

  <section class="w-full max-w-350 mx-auto px-4 md:px-12 mt-24 md:mt-32">
      
      <div class="columns-1 md:columns-2 gap-4 md:gap-8">
        
        {project.images.gallery.map((img, i) => {
          

          const travertinoImg1 = i === 2 && project.slug === 'la-quebrada';
          const travertinoImg2 = i === 3 && project.slug === 'la-quebrada';

          const concretoImg1 = i === 11 && project.slug === 'casa-concreto';
          const concretoImg2 = i === 9 && project.slug === 'casa-concreto';
          const concretoImg3 = i === 12 && project.slug === 'casa-concreto';
          const concretoImg4 = i === 3 && project.slug === 'casa-concreto';


          return (
            <div class="relative overflow-hidden bg-gray-50 group mb-4 md:mb-8 break-inside-avoid shadow-sm hover:shadow-lg transition-all duration-700 ease-out">
              <img 
                src={img.src} 
                alt={img.alt} 
                class={`w-full h-auto block object-cover transition-transform duration-700 ease-out group-hover:scale-105
                  ${
                  travertinoImg1 ? 'h-100 md:h-114' : 'h-auto' } ${
                  travertinoImg2 ? 'h-100 md:h-210' : 'h-auto'} ${ 
                  concretoImg1 ? 'h-100 md:h-120' : 'h-auto' } ${
                  concretoImg2 ? 'h-100 md:h-106' : 'h-auto'} ${
                  concretoImg3 ? 'h-100 md:h-177' : 'h-auto'} ${
                  concretoImg4 ? 'h-100 md:h-170' : 'h-auto'} 


                  `}
                loading="lazy"
              />
              {/* Identificar imagenes
              {concretoImg1  && (
                <div class="absolute top-2 left-2 bg-[#1A1B1C] text-white text-xs uppercase px-2 py-1 rounded opacity-80">
                  img1
                </div>
              )}
              {concretoImg2  && (
                <div class="absolute top-2 left-2 bg-[#1A1B1C] text-white text-xs uppercase px-2 py-1 rounded opacity-80">
                  img2
                </div>
              )}
              {concretoImg3  && (
                <div class="absolute top-2 left-2 bg-[#1A1B1C] text-white text-xs uppercase px-2 py-1 rounded opacity-80">
                  img3
                </div>
              )}
              {concretoImg4  && (
                <div class="absolute top-2 left-2 bg-[#1A1B1C] text-white text-xs uppercase px-2 py-1 rounded opacity-80">
                  img4
                </div>
              )}*/}
              
            </div>
          );
        })}

      </div>
      
      <div class="mt-24 text-center">
        <p class="text-xs tracking-widest text-gray-400 uppercase">Fotografía</p>
        <p class="text-sm font-light mt-2">{project.credits.photography}</p>
      </div>
    </section>

  </main>
</Layout>